@model Project.Models.DataMapper.Provider

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Provider</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProviderId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProviderName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProviderName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProviderName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Images">Logo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control upload_file", @placeholder = "Chọn Ảnh....." } })
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Areas/Admin/Assets/ckfinder/ckfinder.js"></script>
    <script>

        $(".upload_file").click(function () {
            var finder = new CKFinder();
            var input = $(this);
            // xử lý sk khi chọn ảnh
            finder.selectActionFunction = function (url, file, files) {
                // url: đường dẫn file cuối cùng được chọn
                // file: là đối tượng file cuối cùng được chọn
                // files: danh sách các đối tượng file được chọn

                // Kiểm tra input đó up 1 hay nhiều ảnh
                if (input.data("multiple") == true) {
                    var urls = "";

                    $.each(files, function () {

                        urls += $(this)[0].url + ";";

                        input.after("<img src='" + $(this)[0].url + "' width='100' />");
                    })
                    urls = urls.slice(0, urls.length - 1)

                    input.val(urls);
                } else {
                    input.val(url);
                    input.after("<img src='" + url + "' width='100' />");
                }
            }

            finder.popup();
        })
    </script>
}
