@using Project.Models.DataMapper
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    @RenderSection("css", required: false)
</head>
<body>

    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">
                        <div class="box1">
                            <select tabindex="4" class="dropdown">
                                <option value="" class="label">English :</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 top-header-left">
                    <div class="cart box_1">
                        <a href="@Url.Action("Index", "ShoppingCarts")">
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div>
                            <img src="/Content/images/cart-1.png" alt="" />
                        </a>
                        @*<p><a href="javascript:;" class="simpleCart_empty"></a></p>*@
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-3 header-right">
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        <div class="search-bar" style="background-color :white;">
                            <input type="text" value="Search" name="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                            <input type="submit" value="">
                        </div>

                    }

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="logo">
        <a href="@Url.Action("Index", "Home")"><h1>Luxury Watches</h1></a>
    </div>
    <div class="header-bottom ">
        <div class="container">
            <div class="header">
                <div class="col-md-8 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                            </li>
                            <li class="grid">
                                <a href="@Url.Action("Category", "Categories")">Cửa Hàng</a>
                            </li>

                            @*@{Html.RenderAction("MainMenu", "Home");

                                }*@
                            <li class="grid">
                                <a href="@Url.Action("Contact","Home")">Liên Hệ</a>
                            </li>
                            @if (Session["cus"] != null)
                            {


                                var user = (Customer)Session["cus"];

                                <li class="grid" style="float: right;">
                                    <a href="javascript:void(0 )">@user.FullName</a>
                                    <div class="mepanel">
                                        <div class="row">
                                            <div class="col1 me-one">
                                                <ul>
                                                    <li><a href="#">Thông tin</a></li>
                                                    <li><a href="#">Lịch sử </a></li>
                                                    <li><a href="@Url.Action("LogOut","Accounts")">Đăng Xuất</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="grid" style="float: right;">
                                    <a href="@Url.Action("Login","Accounts")">Đăng Nhập</a>
                                    <div class="mepanel">
                                        <div class="row">
                                            <div class="col1 me-one">
                                                <ul>
                                                    <li><a href="@Url.Action("Register","Accounts")">Đăng Ký</a></li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }




                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                @*<div class="col-md-4 header-right">
                        <div></div>
                        <div class="search-bar">
                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                            <input type="submit" value="">
                        </div>
                    </div>*@
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <div>
        <div>
            <div class="information">
                <div class="container">
                    <div class="infor-top">
                        <div class="col-md-3 infor-left">
                            <h3>Follow Us</h3>
                            <ul>
                                <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                                <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                                <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 infor-left">
                            <h3>Information</h3>
                            <ul>
                                <li><a href="#"><p>Specials</p></a></li>
                                <li><a href="#"><p>New Products</p></a></li>
                                <li><a href="#"><p>Our Stores</p></a></li>
                                <li><a href="contact.html"><p>Contact Us</p></a></li>
                                <li><a href="#"><p>Top Sellers</p></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 infor-left">
                            <h3>My Account</h3>
                            <ul>
                                <li><a href="#"><p>My Account</p></a></li>
                                <li><a href="#"><p>My Credit slips</p></a></li>
                                <li><a href="#"><p>My Merchandise returns</p></a></li>
                                <li><a href="#"><p>My Personal info</p></a></li>
                                <li><a href="#"><p>My Addresses</p></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 infor-left">
                            <h3>Store Information</h3>
                            <h4>
                                The company name,
                                <span>Lorem ipsum dolor,</span>
                                Glasglow Dr 40 Fe 72.
                            </h4>
                            <h5>+955 123 4567</h5>
                            <p><a href="mailto:example@email.com">contact@example.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--information-end-->
        <!--footer-starts-->
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-6 footer-left">
                        <form>
                            <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-6 footer-right">
                        <p>Luxury Watches. All Rights Reserved | Design by  <a href="" target="_blank"></a> </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-end-->
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <!--Custom-Theme-files-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/simpleCart.min.js"></script>

    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="/Content/js/jquery.easydropdown.js"></script>

    @RenderSection("scripts", required: false);
</body>
</html>
