@model Project.Models.DataMapper.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeatureImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowHome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
