
@model IEnumerable<Project.Models.DataMapper.Product>

@foreach (var item in Model)
{


    <div class="col-md-4 product-left p-left">
        <div class="product-main simpleCart_shelfItem" style="margin-bottom: 30px;height:392.72px">
            <a href="@Url.Action("ProductDetail","Products", new {id = item.ProductId})" id="@item.ProductId" class="mask"><img class="img-responsive zoom-img" src="@item.Images" alt="" style="width:125px"></a>
            <div class="product-bottom">
                <h3>@item.ProductName</h3>
                <p>Buy Now</p>
                <h4><a class="item_add" href="@Url.Action("Index","Carts")"><i></i></a> <span class=" item_price"> @item.PriceOut</span></h4>
            </div>
            <div class="srch">
                <span>-@item.Discount%</span>
            </div>
        </div>
    </div>
}



