@model IEnumerable<Project.Models.DataMapper.CategoryProduct>

@foreach (var item in Model)
{
    <div class="col-md-4 product-left p-left">
        <div class="product-main simpleCart_shelfItem" style="margin-bottom: 30px;height:392.72px">
            <a href="@Url.Action("ProductDetail","Products", new { id = item.ProductId })" class="mask"><img class="img-responsive zoom-img" src="@item.Product.Images" alt="" id="@item.Product.ProductId" style="width:125px" /></a>
            <div class="product-bottom">
                <div style="height: 35px;width: 100%;margin-left: -17px;">
                    <h3>@item.Product.ProductName</h3>
                </div>

                <p>Khám phá ngay</p>
                <h4>
                    <a class="item_add" href="@Url.Action("Index","Carts")"><i></i></a>

                    <span class=" item_price">@String.Format("{0:#,##}VND", item.Product.PriceOut)</span>
                </h4>
            </div>
            <div class="srch">
                <span>-@item.Product.Discount%</span>
            </div>
        </div>
    </div>
}
