@model Project.Models.DataMapper.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
}
<style>
    .item {
        align-items: center;
        display: flex;
    }

    .text1 {
        width: 150px;
        margin: 8px 0px 0px;
    }

    .text2 {
        flex: 1;
        margin: 15px 0px 0px;
    }
</style>
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product Detail</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->

<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">

            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@Model.Images">
                                    <div class="thumb-image">
                                        <img src="@Model.Images" data-imagezoom="true" class="img-responsive" alt="" />
                                    </div>
                                </li>
                                @{

                                    var imgs = Model.muti_image.Split(';').Distinct();
                                }
                                @foreach (var item in imgs)
                                {
                                    <li data-thumb="@item">
                                        <div class="thumb-image"> <img src="@item" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            @using (Html.BeginForm("AddToCart", "ShoppingCarts", FormMethod.Post))
                            {
                                <h2>@Model.ProductName</h2>
                                <h5 class="item_price">@String.Format("{0:#,##}VND", Model.PriceOut) </h5>

                                <div class="group">
                                    @foreach (var item in ViewBag.types)
                                    {

                                        <div class="item">
                                            <p class="text1">@item.TypeName: </p>


                                            @foreach (var attr in item.Attributes)
                                            {
                                                <h4 class="text2" value="@attr.AttributeId">@attr.AttributeName</h4>
                                                <input type="hidden" name="Attributes" value="@attr.AttributeId" />
                                            }
                                        </div>

                                    }
                                </div>
                                                                                                        
                                <div class="available">
                                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                    <ul class="clearfix">
                                        <li>
                                            Color
                                            <select name="Color">
                                                @foreach (var cl in ViewBag.Color)
                                                {
                                                    <option id="@cl.ColorId" name="@cl.background">@cl.ColorName</option>

                                                }
                                            </select>
                                        </li>
                                        <li class="size-in">
                                            Size
                                            <select name="Size">
                                                @foreach (var s in ViewBag.Size)
                                                {
                                                    <option id="@s.SizeId">@s.SizeName</option>

                                                }
                                            </select>
                                        </li>
                                        <li>
                                            Số lượng
                                            <input type="number" name="Quantity" value="1" />
                                        </li>
                                    </ul>

                                </div>
                                <button type="submit" class="add-cart item_add" style="border-radius: 20px;">ADD TO CART</button>
                            }
                            
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                        <li class="item1">
                            <a href="#"><img src="~/Content/images/arrow.png" alt="">Description</a>
                            <ul>
                                <li class="subitem1"><a href="#">@Model.Description</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Relationship product-->

            <div class="col-md-12">
                <div class="latestproducts">
                    <div class="content-heading" style="padding-right: 718px;">
                        <h3 class="title">RELATED PRODUCTS</h3>
                        <div class="block-note">Top view in this week</div>
                    </div>
                    <div class="product-one">
                        <div class="col-md-3 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("ProductDetail","Products")" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/p-1.png" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>Smart Watches</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                                </div>
                                <div class="srch">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("ProductDetail","Products")" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/p-2.png" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>Smart Watches</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                                </div>
                                <div class="srch">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("ProductDetail","Products")" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/p-3.png" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>Smart Watches</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                                </div>
                                <div class="srch">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("ProductDetail","Products")" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/p-3.png" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>Smart Watches</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                                </div>
                                <div class="srch">
                                    <span>-50%</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-single-->

@section scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->

    <script type="text/javascript">
        $(function () {

            var menu_ul = $('.menu_drop > li > ul'),
                menu_a = $('.menu_drop > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <!-- FlexSlider -->
    <script src="~/Content/js/imagezoom.js"></script>
    <script defer src="~/Content/js/jquery.flexslider.js"></script>

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });


    </script>
}


